*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}
/*Cabecera-*/
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#logo {
    float: left;
    width: 223px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 15px;
}

#logotipo h1{
    font-size: 40px;
    display: block;
    float: right;
    margin-top: 5px;
    transition: all 300ms;
    margin-right: 65px;
}
/*Menu*/
#menu{
    float: right;
    height: 70px;
    background: transparent;
}

#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul li a:hover{
    color: #98c1d9;
    transform: scale(1.2, 1.2);
}
