*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}

/*MENU*/
.nav-link{
    color: white;
}

.bg-dark{
    font-size: 20px;
}

.nav-link{
    color: white!important;
}

.nav-link:hover{
    color: #979dac!important;
}

.navbar-dark .navbar-brand {
    color: white;
    font-size: 20px;
}

.navbar-dark .navbar-brand:hover {
    color: #5e6472;
    font-size: 20px;
}

/*Titulo principal*/
#title{
    text-align: center;
    font-size: 30px;
}
/*Apa formato*/
.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
 }


 #div_main{
    width: 85%;
    height: 1280px;
    background: #e2f5fc;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 3px 3px 0px #e5e5e5; 
}
/*Enciclopedia*/
#div_main_enci{
    width: 85%;
    height: auto;
    background: #e2f5fc;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 3px 3px 0px #e5e5e5;  
}

#div_main_enci h1{
    font-size: 40px;
    padding-top: 3px;
    font-family: Arial;
}

#div_main h1{
    font-size: 40px;
    padding-top: 3px;
    font-family: Arial;
}

.form_title{
    font-size: 20px;
    color: black;
    text-shadow: 0px 0px 3px black;
    font-family: Arial;
}

.Cuadros{
    width: 50%;
    background: white;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1.5px solid black;
    font-size: 14px;
}
#button_book{
    width: 30%;
    background: #2a9d8f;
    border: none;
    padding: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px
}

#button_book:hover{
    background: #06d6a0;
    color: white;
}

#Menj_random{
    width: 70%;
    height: 177px;
    display: block;
    /*background: #ffba08;*/
    margin: auto;
    border-radius: 8px;
}

#parrafo{
    margin-top: 50px;
    font-size: 25px;
    padding-top: 55px;
}

/*Espacio*/
.page-header {
    padding-bottom: 5px;
    margin: 5px 0 15px;
    border-bottom: 1px solid #919191;
}