*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*.wrap{
    width: 1250px;
    margin: 0px auto;
}*/
/*Cabecera-*/
/*#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}*/

/*#logo {
    float: left;
    width: 223px;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 15px;
}
#logo a{
    text-decoration: none;
    color: white;
}
#logo h1{
    font-size: 27px;
    display: block;
    float: right;
    margin-top: 5px;
    transition: all 300ms;
    margin-right: 30px;
}*/
/*Menu
#menu{
    float: right;
    height: 70px;
    background: transparent;
}

#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul li a:hover{
    color: #98c1d9;
    transform: scale(1.2, 1.2);
}*/

/*MENU*/
.nav-link{
    color: white;
}

.bg-dark{
    font-size: 20px;
}

.nav-link{
    color: white!important;
}

.nav-link:hover{
    color: #979dac!important;
}

.navbar-dark .navbar-brand {
    color: white;
    font-size: 20px;
}

.navbar-dark .navbar-brand:hover {
    color: #5e6472;
    font-size: 20px;
}

.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
 }

 /*Caja principal*/
 #div_main{
    width: 85%;
    height: auto;
    background: #e2f5fc;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 3px 3px 0px #e5e5e5; 
}

#div_main h1{
    font-size: 40px;
    padding-top: 3px;
    font-family: Arial;
    margin-bottom: 15px;
}

/*Article*/
.article h3{
    font-size: 30px;
    margin-bottom: 5px;
    font-family: Arial;
}

.article p{
    font-size: 20px;
    color: black;
    font-family: Arial;
}

/*Boton generar formato*/
#button_g{
    width: 25%;
    background: #00afb9;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

#button_g:hover{
    transition: all 0.5ms;
    background: #2a9d8f;
    color: white;
}

/*Parrafo*/
.red_letter{
    color: #ef233c;
    font-weight: bold;
 }

 .black_letter{
    color: black;
    font-weight: bold;
 }

/*Referencias*/
#references{
    margin-top: 10px;
}

#reference_p{
    font-size: 15px;
    margin-top: 5px;
}

/*Espacio*/
.page-header {
    padding-bottom: 5px;
    margin: 5px 0 15px;
    border-bottom: 1px solid #919191;
}

/*Video*/
#tutorial{
    font-size: 30px;
}

.video-js {
    display: block;
    width: 640px;
    vertical-align: top;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-break: initial;
    margin: 0px auto;
    margin-top: 15px;
}

.video-js button {
    background: none;
    border: none;
    color: inherit;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    text-decoration: none;
    transition: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 260px;
    margin-top: 109px;
    display: block;
}